body, html {
width: 100%;
height: 100%;
margin:0;
padding:0;
font-family: Work Sans;
}

.header {
    width: 100%;
    height: 100px;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    margin: 0;
    background-color: white;
}

form {
display: block;
width: 300px;
padding: 50px;
margin: 0 auto;
margin-top: 50px;
}

.logo {
    width: 150px;
    display: block;
    margin: 0 auto;
}

p {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

input[type=text] {
    width: calc(100% - 42px);
    padding: 10px 20px;
    border: solid rgba(0,0,0,0.2) 1px;
    font-size: 17px;
}

input[type=password] {
    width: calc(100% - 42px);
    padding: 10px 20px;
    border: solid rgba(0,0,0,0.2) 1px;
    font-size: 17px;
}

input[type=submit] {
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    background-color: white;
    border-radius: 2px;
}